{% extends 'base.html' %}

{% block title %}
<h2 class="subtitle">
    <a href="{% url 'intro:search' %}">검색어 입력하기</a> | <strong>좋아요 목록</strong>
</h2>
<div class="button-container">
  <button id="prev-button" class="paging-button" onclick="previousPage();">Previous Page</button>
  <button id="next-button" class="paging-button" onclick="nextPage();">Next Page</button>
</div>
{% endblock %}

{% block content %}

<div id="login-container" class="pre-auth">
  This application requires access to your YouTube account.
  Please <a href="#" id="login-link">authorize</a> to continue.
</div>

<div id="video-container">
    <!--<iframe class="video w100" width="640" height="360" src="//www.youtube.com/embed/"+{{ videoId }} frameborder="0" allowfullscreen></iframe>-->
</div>
{% endblock %}