<!doctype html>
{% load static %}
<html>
  <head>
    <title>Rating</title>
    <link rel="stylesheet" type="text/css" href="{% static 'intro/my_uploads.css' %}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="{% static 'js/env.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/auth.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/rating.js' %}" type="text/javascript"></script>
    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
  </head>
  <body>

    <div id="login-container" class="pre-auth">
      This application requires access to your YouTube account.
      Please <a href="#" id="login-link">authorize</a> to continue.
    </div>

    <div id="video-container">
        <!--<iframe class="video w100" width="640" height="360" src="//www.youtube.com/embed/"+{{ videoId }} frameborder="0" allowfullscreen></iframe>-->
    </div>

    <div class="button-container">
      <button id="prev-button" class="paging-button" onclick="previousPage();">Previous Page</button>
      <button id="next-button" class="paging-button" onclick="nextPage();">Next Page</button>
    </div>
  </body>
</html>